<a href="https://colab.research.google.com/github/maiormarso/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/LSD_DS_213_assignment_ridge_regression_classification_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

Instead, predict property sales prices for **One Family Dwellings** (`BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'`). 

Use a subset of the data where the **sale price was more than \\$100 thousand and less than $2 million.** 

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.

- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Fit a ridge regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.


## Stretch Goals
- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
df=df.loc[(df['SALE_PRICE'] >=100000) & (df['SALE_PRICE'] <= 2000000)]

In [0]:
df=df.loc[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS')]

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
top10

Index(['FLUSHING-NORTH', 'ST. ALBANS', 'SPRINGFIELD GARDENS',
       'SO. JAMAICA-BAISLEY PARK', 'QUEENS VILLAGE', 'GREAT KILLS',
       'SOUTH OZONE PARK', 'BAYSIDE', 'LAURELTON', 'FLUSHING-SOUTH'],
      dtype='object')

In [0]:
df.shape

(3164, 21)

In [0]:
import pandas as pd

df["SALE_DATE"] = pd.to_datetime(df["SALE_DATE"],infer_datetime_format=True)

In [0]:
dt=df

In [0]:
dt.head(1)

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
44       3        OTHER  ...     550000 2019-01-01

[1 rows x 21 columns]

In [0]:
dt['SALE_DATE'].dt.month.value_counts()

1    952
3    802
2    763
4    647
Name: SALE_DATE, dtype: int64

In [0]:
dt['year'] = pd.DatetimeIndex(df['SALE_DATE']).year

In [0]:
dt['month'] = pd.DatetimeIndex(df['SALE_DATE']).month

In [0]:
dt=df

In [0]:
dt.tail(10)

      BOROUGH         NEIGHBORHOOD  ...  year month
23018       4                OTHER  ...  2019     4
23021       4            LAURELTON  ...  2019     4
23022       4                OTHER  ...  2019     4
23024       4                OTHER  ...  2019     4
23026       4                OTHER  ...  2019     4
23029       4                OTHER  ...  2019     4
23031       4     SOUTH OZONE PARK  ...  2019     4
23032       4     SOUTH OZONE PARK  ...  2019     4
23033       4  SPRINGFIELD GARDENS  ...  2019     4
23035       4           ST. ALBANS  ...  2019     4

[10 rows x 23 columns]

In [0]:
dt['year'].dtypes

dtype('int64')

In [0]:
# train=dt
# test=dt

In [0]:
#train.head(1)

In [0]:
#test.head(1)

In [0]:
#test['SALE_DATE'].dt.month.value_counts()

In [0]:
array = ['1','2','3']

train=dt.loc[(dt['year'] == 2019) & dt['month'].isin(array)]
train.head(5)

    BOROUGH    NEIGHBORHOOD  BUILDING_CLASS_CATEGORY  ...  SALE_DATE  year  month
44        3           OTHER  01 ONE FAMILY DWELLINGS  ... 2019-01-01  2019      1
61        4  QUEENS VILLAGE  01 ONE FAMILY DWELLINGS  ... 2019-01-01  2019      1
78        2           OTHER  01 ONE FAMILY DWELLINGS  ... 2019-01-02  2019      1
108       3           OTHER  01 ONE FAMILY DWELLINGS  ... 2019-01-02  2019      1
111       3           OTHER  01 ONE FAMILY DWELLINGS  ... 2019-01-02  2019      1

[5 rows x 23 columns]

In [0]:
train.shape

(2517, 23)

In [0]:
array = ['4']

test=dt.loc[(dt['year']== 2019) & dt['month'].isin(array)]
test.head(5)

      BOROUGH NEIGHBORHOOD  BUILDING_CLASS_CATEGORY  ...  SALE_DATE  year  month
18235       2        OTHER  01 ONE FAMILY DWELLINGS  ... 2019-04-01  2019      4
18239       2        OTHER  01 ONE FAMILY DWELLINGS  ... 2019-04-01  2019      4
18244       3        OTHER  01 ONE FAMILY DWELLINGS  ... 2019-04-01  2019      4
18280       3        OTHER  01 ONE FAMILY DWELLINGS  ... 2019-04-01  2019      4
18285       3        OTHER  01 ONE FAMILY DWELLINGS  ... 2019-04-01  2019      4

[5 rows x 23 columns]

In [0]:
test.shape

(647, 23)

In [0]:
test['SALE_DATE'].dt.month.value_counts()

4    647
Name: SALE_DATE, dtype: int64

#OneHotEncoder

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
# encoder.fit_transform(X_train) copy and rename
train = encoder.fit_transform(train)
test = encoder.transform(test)

In [0]:
#X_test =test

In [0]:
X_test

       BOROUGH_3  BOROUGH_4  BOROUGH_2  ...  SALE_PRICE  year  month
18235          0          0          1  ...      895000  2019      4
18239          0          0          1  ...      253500  2019      4
18244          1          0          0  ...     1300000  2019      4
18280          1          0          0  ...      789000  2019      4
18285          1          0          0  ...      525000  2019      4
...          ...        ...        ...  ...         ...   ...    ...
23029          0          1          0  ...      635000  2019      4
23031          0          1          0  ...      514000  2019      4
23032          0          1          0  ...      635000  2019      4
23033          0          1          0  ...      545000  2019      4
23035          0          1          0  ...      510000  2019      4

[647 rows x 3454 columns]

In [0]:
#X_test.drop(['SALE_DATE'], axis = 1, inplace = True)

In [0]:
X_train

In [0]:
#X_train.drop(['SALE_DATE'], axis = 1, inplace = True)

John Humenczuk 7:34 PM
df.drop(['COLUMN_NAME'], axis = 1, inplace = True)   what is this for saledate

In [0]:
#

#SelectKBest

In [0]:
 #Select the 15 features that best correlate with the target
# (15 is an arbitrary starting point here)
from sklearn.feature_selection import f_regression, SelectKBest

# Similar API to what we've seen before
selector = SelectKBest(score_func=f_regression, k=15)

# IMPORTANT!
# .fit_transform on the train set
# .transform on test set
train_selected = selector.fit_transform(X_train, y_train)
test_selected = selector.transform(X_test)
train_selected.shape, X_test_selected.shape

In [0]:
train_selected

In [0]:
train.dtypes

BOROUGH_3                                     int64
BOROUGH_4                                     int64
BOROUGH_2                                     int64
BOROUGH_5                                     int64
BOROUGH_1                                     int64
                                          ...
BUILDING_CLASS_AT_TIME_OF_SALE_S0             int64
SALE_PRICE                                    int64
SALE_DATE                            datetime64[ns]
year                                          int64
month                                         int64
Length: 3455, dtype: object

In [0]:
test.head()

       BOROUGH_3  BOROUGH_4  BOROUGH_2  ...  SALE_PRICE  year  month
18235          0          0          1  ...      895000  2019      4
18239          0          0          1  ...      253500  2019      4
18244          1          0          0  ...     1300000  2019      4
18280          1          0          0  ...      789000  2019      4
18285          1          0          0  ...      525000  2019      4

[5 rows x 3454 columns]

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

Instead, predict property sales prices for **One Family Dwellings** (`BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'`). 

Use a subset of the data where the **sale price was more than \\$100 thousand and less than $2 million.** 

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.

- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Fit a ridge regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.


## Stretch Goals
- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).